/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Century Gothic';
    line-height: 1.5;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

header {
    background: #ffffff; /* A shade of green  */
    color: #333;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #bbc1c9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #555; /* Slightly darker grey */
    
}

main {
    flex: 1;
    padding: 2rem;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
    padding: 2rem;
    border-radius: 8px;
}

.intro img {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 4px solid #ccc;
}

.intro-text {
    max-width: 600px;
}

section {
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 1rem;
}

ul {
    list-style: none;
}

a {
    color: #111; /* Dark grey for links */
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #999; /* Slightly darker grey on hover */
}

footer {
    background: #ffffff; /* Shade of green */
    color: #333;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

@media (min-width: 768px) {
    .intro {
        flex-direction: row;
        text-align: left;
    }

    .intro img {
        margin-right: 2rem;
    }

    .intro-text {
        max-width: none;
    }
}

p {
    margin-bottom: 20px; /* Adds space after every paragraph */
    text-align: justify;
}

.contact {
    background-color: #fff; /* White background for contrast */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact .orcid-logo {
    width: 16px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 0px; /* Space between logo and text */
}

.contact p {
    font-size: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact i, .contact .orcid-logo {
    margin-right: 8px; /* Space between icon/logo and text */
    color: #333; /* Dark grey for icons */
}

